* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    }

    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #0f0f0f;
      color: #fff;
    }
    header {
      background-color: #121212;
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 100;
      flex-wrap: wrap;
    }
    header h1 {
      color: #00bcd4;
      margin-bottom: 0.5rem;
    }
    nav {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
    }
    nav a {
      color: white;
      text-decoration: none;
      position: relative;
      font-weight: 500;
    }
    nav a::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: #00bcd4;
      transition: width 0.3s;
    }
    nav a:hover::after {
      width: 100%;
    }
    .hero {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 4rem 2rem;
      gap: 2rem;
      max-width: 1400px;
      margin: auto;
    }
    .hero-text {
      flex: 1;
    }
    .hero-text p {
      font-size: 1.2rem;
      line-height: 1.8;
    }
    .hero-img {
      flex: 1;
      display: flex;
      justify-content: center;
    }
    .hero-img img {
      width: 520px;
      height: 520px;
      object-fit: cover;
      border-radius: 20px;
      border: 4px solid #00bcd4;
    }
    section {
      padding: 4rem 3rem;
      max-width: 1200px;
      margin: auto;
      opacity: 0;
      transform: translateY(50px);
      transition: opacity 0.8s ease, transform 0.8s ease;
    }
    section.visible {
      opacity: 1;
      transform: translateY(0);
    }
    .card {
      background-color: #1e1e1e;
      padding: 2.5rem;
      border-radius: 16px;
      box-shadow: 0 0 15px rgba(0,188,212,0.3);
      transition: transform 0.3s ease;
    }
    .card:hover {
      transform: scale(1.02);
    }
    .skills-list span {
      background-color: #2a2a2a;
      padding: 0.5rem 1rem;
      margin: 0.4rem;
      border-radius: 5px;
      display: inline-block;
      font-size: 1rem;
    }
    .contact-icons a {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      background-color: #2a2a2a;
      padding: 0.6rem 1.2rem;
      margin-right: 0.5rem;
      border-radius: 6px;
      color: #fff;
      text-decoration: none;
      font-size: 1rem;
    }
    .contact-icons a:hover {
      background-color: #00bcd4;
      color: black;
    }
    footer {
      text-align: center;
      padding: 1rem;
      background-color: #121212;
      color: #888;
      font-size: 0.9rem;
    }
    